@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

/*configurar toda la pagina*/
* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*configuraciones generales*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body html {
    overflow-x: hidden;
}

section {
    width: 80%;
    margin: 80px auto;
}

/*final de configuraciones generales*/

/*header y titulos*/

header {
    width: 100vw;
    height: 100vh;
    background-image: url(./imagenes/big1.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background:fuchsia;
    margin: 10px auto ;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 10px 5px;
    background: black;
    border-radius: 30px;
    color: fuchsia;
}

/*final de header y titulo*/

/*inicio de navbar*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color:fuchsia;
}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links li {
    margin: 0 30px;
}

.enlace1{
    color: fuchsia;
}

/*final de navbar*/

/*segunda parte de la pagina*/
.tittle {
    text-align: center;
    font-size: 4vmin;
    color: fuchsia;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: fuchsia;
    margin: 20px auto;
}

p {
    color: black;
    padding: 0px 40px;
}

.ct2 {
    padding: 15px 5px;
    padding-left: 5px;
    margin: 20px auto;
    background: fuchsia;
    border-radius: 30px;
    color: black;
}

.events .ct2 {
    margin-top: 20px;
}

.img {
    height: 400px;
    width: 500px;
    padding-left: 100px;
}

/*final de segunda parte de la pagina*/

/*inicio tercera parte de la pagina*/
.explore {
    width: 100%;
    height: 155vh;
    background-image: url(./imagenes/big3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60px;
    padding: 30px;
    color: fuchsia;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
    padding-left: 500px;
}

.explore-content .line {
    margin-bottom: 50px;
    margin-left: 170px;
}

.explore-content p {
    color: fuchsia;
    padding-left: 500px;
}

.explore-content .ctn {
    margin-top: 40px;
    margin-left: 425px;
}

.ctn3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-left: 450px;
    background: fuchsia;
    border-radius: 30px;
    color: black;
}

/*final de la tercera parte*/

/*cuarte parte*/
.tours {
    margin-left: 250px;
}

.content-col {
    width: 40%;
}

.tours .row .col {
    width: 50%;
}

.content-col h1 {
    font-size: 7vmin;
    color: fuchsia;
}

div>div>img {
    width: 250px;
    padding: 10px;
}

.content-col line {
    border-left: 50px;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.ctn4 {
    padding: 15px 5px;
    padding-left: 5px;
    margin: 20px auto;
    background: fuchsia;
    border-radius: 30px;
    color: black;
}
/*final de la cuarta parte*/

/*footer*/
.footer{
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background:fuchsia ;
    text-align: center;
}

/*pagina de personajes*/

